nav {
  display: flex;
  align-items: center;
}

nav a {
  margin-left: 10px;
  text-decoration: none;
  color: black
   
}

.container {
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
  width: 500px;
  max-width: 90%;
  width: 70%;
  height: 100%;
  padding: 20px;
  background: rgb(190, 178, 178);
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0,0,0,.3);
  align-items: center;
  
}

form.signup, form.login{
  text-align: center;
}

label, input {
  display: block;
}


input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: center;
  
}

form button{
  background: rgb(137, 137, 235);
  border: 0;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;


}

nav button {
  background: #fff;
  color: green;
  padding: 6px 10px;
  cursor: pointer;
  
}