nav {
  display: flex;
  align-items: center;
}

nav a {
  margin-left: 10px;
  text-decoration: none;
  color: black
   
}

.container {
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
  width: 500px;
  max-width: 90%;
  width: 70%;
  height: 100%;
  padding: 20px;
  background: rgb(190, 178, 178);
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0,0,0,.3);
  align-items: center;
  
}

form.signup, form.login{
  text-align: center;
}

label, input {
  display: block;
}


input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: center;
  
}

form button{
  background: rgb(137, 137, 235);
  border: 0;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;


}

nav button {
  background: #fff;
  color: green;
  padding: 6px 10px;
  cursor: pointer;
  
}

.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.goods-details{
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

.goods-details h4{
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: aqua;
}

.goods-details p{
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.goods-details span{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid rgb(124, 31, 31);
  border-radius: 4px;
  margin: 20px 0;
}

