nav {
  display: flex;
  align-items: center;
  color: black;
}

nav a {
  margin-left: 10px;
  text-decoration: none;
}

form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}